/* BEGIN CSS HERE */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}


/* Stylize the button. Make it look professional and modern. */
button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.container {
    height: 100vh;
    width: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    /* Additional CSS to center main content */
    min-height: 100vh;  /* Cover the full view height */
    margin: 0 auto;
}

/* Additional CSS to center text and button together */
.inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}